<?xml version="1.0" encoding="UTF-8"?>

<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
      
   
   <bean id="emp" class="google.dipak.employee.Emp">
   
   <property name="eid">
    <list>
    <value>100</value>
   <value>100</value>
   <value>100</value>
   
   <value>100</value>
   <value>100</value>
   
   
   </list>
   </property>
   
   <property name="ename">
    <list>
    <value>100</value>
   <value>100</value>
   <value>100</value>
   
   <value>100</value>
   <value>100</value>
   
   
   </list>
   </property>
   <property name="ecity">
    <list>
    <value>100</value>
   <value>100</value>
   <value>100</value>
   
   <value>100</value>
   <value>100</value>
   
   
   </list>
   </property>
   
   
   
   
   
   </bean>   
   
   
   
   
   
      
      
      </beans>         